Repository esp8266/Arduino, pull requests merged in 2018-07, with the labels that each got.

#4889 optionally allow WPS
  cores/esp8266/core_esp8266_main.cpp
  doc/faq/readme.rst
  libraries/ESP8266WiFi/src/ESP8266WiFiSTA.cpp
  libraries/ESP8266WiFi/src/ESP8266WiFiSTA.h
  platform.txt
  tools/boards.txt.py
  tools/sdk/include/user_interface.h
Labels: component: core, type: bug

#4913 Avoid unnecessary waveform de-initialization
  cores/esp8266/core_esp8266_waveform.c
Labels: component: core, type: bug

#4877 Copy the existing flash mode over the one set in an OTA update image.
  cores/esp8266/Updater.cpp
Labels: component: uploader, type: enhancement

#4934 base64::encode: Adjusted buffer size algorithm
  cores/esp8266/base64.cpp
Labels: component: core, type: bug

#4955 Fix String creation and concat issues found by Valgrind
  cores/esp8266/WString.cpp
Labels: component: core, type: bug

#4958 Adding Notes in WiFi.begin docs (closes #4949)
  doc/esp8266wifi/station-class.rst
Labels: component: documentation

#4971 Update a03-library-does-not-work.rst
  doc/faq/a03-library-does-not-work.rst
Labels: component: documentation

#4981 Include SetUUID for SSDP
  libraries/ESP8266SSDP/ESP8266SSDP.cpp
  libraries/ESP8266SSDP/ESP8266SSDP.h
  libraries/ESP8266SSDP/keywords.txt
Labels: component: libraries, type: enhancement
