Repository esp8266/Arduino, pull requests merged in 2018-12, with the labels that each got.

#5442 LEAmDNS - Multicast DNS Responder
  libraries/ESP8266mDNS/examples/LEAmDNS/mDNS_Clock/mDNS_Clock.ino
  libraries/ESP8266mDNS/examples/LEAmDNS/mDNS_ServiceMonitor/mDNS_ServiceMonitor.ino
  libraries/ESP8266mDNS/library.properties
  libraries/ESP8266mDNS/src/ESP8266mDNS.h
  libraries/ESP8266mDNS/src/ESP8266mDNS_Legacy.cpp
  libraries/ESP8266mDNS/src/ESP8266mDNS_Legacy.h
  libraries/ESP8266mDNS/src/LEATimeFlag.h
  libraries/ESP8266mDNS/src/LEAmDNS.cpp
  libraries/ESP8266mDNS/src/LEAmDNS.h
  libraries/ESP8266mDNS/src/LEAmDNS_Control.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_Helpers.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_Priv.h
  libraries/ESP8266mDNS/src/LEAmDNS_Structs.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_Transfer.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_lwIPdefs.h
  libraries/ESP8266mDNS/src/README.rst
  libraries/ESP8266mDNS/src/keywords.txt
Labels: component: libraries, type: enhancement

#5450 formalization of LEA's mdns rewrite
  cores/esp8266/PolledTimeout.h
  libraries/ESP8266mDNS/examples/LEAmDNS/mDNS_Clock/mDNS_Clock.ino
  libraries/ESP8266mDNS/examples/LEAmDNS/mDNS_ServiceMonitor/mDNS_ServiceMonitor.ino
  libraries/ESP8266mDNS/src/ESP8266mDNS.cpp
  libraries/ESP8266mDNS/src/ESP8266mDNS.h
  libraries/ESP8266mDNS/src/ESP8266mDNS_Legacy.h
  libraries/ESP8266mDNS/src/LEATimeFlag.h
  libraries/ESP8266mDNS/src/LEAmDNS.cpp
  libraries/ESP8266mDNS/src/LEAmDNS.h
  libraries/ESP8266mDNS/src/LEAmDNS_Control.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_Helpers.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_Priv.h
  libraries/ESP8266mDNS/src/LEAmDNS_Structs.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_Transfer.cpp
  libraries/ESP8266mDNS/src/LEAmDNS_lwIPdefs.h
Labels: type: code cleanup

#5482 Update release instructions README.md
  package/README.md
Labels: component: documentation

#5499 Increase free IRAM
  cores/esp8266/cont_util.c
  cores/esp8266/core_esp8266_postmortem.c
  cores/esp8266/core_esp8266_version.h
  cores/esp8266/umm_malloc/umm_malloc.c
Labels: type: code cleanup, type: enhancement

#5516 fix bug. in sta mode, empty passphrase should not use secure auth mode
  libraries/ESP8266WiFi/src/ESP8266WiFiSTA.cpp
Labels: component: libraries, type: bug

#5506 Fix: WebServer: Digest authentication failed for some clients
  libraries/ESP8266WebServer/src/ESP8266WebServer.cpp
Labels: type: enhancement

#5504 Rewrite PUYA patch to be more universal and mem friendly.
  cores/esp8266/Esp.cpp
  cores/esp8266/Esp.h
Labels: component: core, type: enhancement

#5542 mDNS: Add support for String arg to begin()
  libraries/ESP8266mDNS/src/ESP8266mDNS_Legacy.h
  libraries/ESP8266mDNS/src/LEAmDNS.h
Labels: component: libraries, type: enhancement
