Repository esp8266/Arduino, pull requests merged in 2018-09, with the labels that each got.

#5113 read all lines from slow servers
  libraries/ESP8266WiFi/examples/WiFiClient/WiFiClient.ino
Labels: component: examples, type: bug

#5133 implement EspClass::getFreeContStack method
  cores/esp8266/Esp.cpp
  cores/esp8266/Esp.h
Labels: component: core, type: enhancement

#5157 WiFi Mesh Update 2.1
  libraries/ESP8266WiFiMesh/README.md
  libraries/ESP8266WiFiMesh/examples/HelloMesh/HelloMesh.ino
  libraries/ESP8266WiFiMesh/keywords.txt
  libraries/ESP8266WiFiMesh/library.properties
  libraries/ESP8266WiFiMesh/src/ESP8266WiFiMesh.cpp
  libraries/ESP8266WiFiMesh/src/ESP8266WiFiMesh.h
  libraries/ESP8266WiFiMesh/src/TypeConversionFunctions.cpp
  libraries/ESP8266WiFiMesh/src/TypeConversionFunctions.h
  libraries/ESP8266WiFiMesh/src/UtilityMethods.cpp
Labels: component: libraries, type: enhancement
