Repository esp8266/Arduino, pull requests merged in 2019-12, with the labels that each got.

#6860 added clock stretch yield, [issue 2162] fixed twi::status
  cores/esp8266/core_esp8266_si2c.cpp
Labels: type: bug

#6881 Fix sending headers in #send_P(int, PGM_P, PGM_P, size_t)
  libraries/ESP8266WebServer/src/ESP8266WebServer-impl.h
Labels: component: web, type: troubleshooting

#6898 change to make inline helpers truly inline [issue 6875]
  cores/esp8266/core_esp8266_si2c.cpp
Labels: component: core, type: bug
