Repository esp8266/Arduino, pull requests merged in 2019-11, with the labels that each got.

#6674 Spi0command
  cores/esp8266/core_esp8266_spi_utils.cpp
  cores/esp8266/spi_utils.h
Labels: type: enhancement

#6715 Remove useless call to setContentLength()
  libraries/ESP8266WebServer/src/ESP8266WebServer-impl.h
Labels: component: libraries, type: code cleanup

#6429 Update esptool reset method
  boards.txt
  platform.txt
  tools/boards.txt.py
Labels: waiting for feedback

#6699 Make SPIFFS and LittleFS stay out of link when not needed
  cores/esp8266/FS.h
  cores/esp8266/FSnoop.cpp
  cores/esp8266/spiffs_api.cpp
  cores/esp8266/spiffs_api.h
  libraries/ESP8266HTTPUpdateServer/src/ESP8266HTTPUpdateServer-impl.h
  libraries/LittleFS/src/LittleFS.cpp
Labels: component: 3rd party lib, type: code cleanup, type: enhancement

#6741 Mention erasing arduino15 contents before installing git
  doc/installing.rst
Labels: component: documentation

#6743 Puts to rest the confusion about the builtin leds for nodemcu boards
  variants/nodemcu/pins_arduino.h
Labels: component: boards

#6744 Add some useful links
  README.md
Labels: component: documentation

#6788 Make upload.py compatible with existing FS upload
  platform.txt
  tools/upload.py
Labels: component: tools, type: bug

#6801 Fix typo in mode timeout loop
  libraries/ESP8266WiFi/src/ESP8266WiFiGeneric.cpp
Labels: component: libraries, type: bug

#6798 [SSDP] add `schema(Print &) const`
  libraries/ESP8266SSDP/ESP8266SSDP.cpp
  libraries/ESP8266SSDP/ESP8266SSDP.h
Labels: component: libraries, type: code cleanup, type: enhancement

#6790 Weak binding lessens version dependency between ESP8266 and MT library
  cores/esp8266/core_esp8266_main.cpp
Labels: component: core, type: enhancement

#6784 Version bump for package.json
  package.json
Labels: waiting for feedback

#6809 Mark esp_schedule IRAM_ATTR to make it ISR safe
  cores/esp8266/core_esp8266_main.cpp
Labels: type: enhancement

#6816 Implement invert for HardwareSerial
  cores/esp8266/HardwareSerial.cpp
  cores/esp8266/HardwareSerial.h
  cores/esp8266/uart.cpp
  cores/esp8266/uart.h
  tests/host/common/MockUART.cpp
Labels: component: core, component: libraries, type: enhancement

#6823 Move eboot_command_clear to after firmware copy.
  bootloaders/eboot/eboot.c
Labels: type: bug

#6827 fix api bug
  libraries/ArduinoOTA/ArduinoOTA.cpp
  libraries/ESP8266WebServer/src/ESP8266WebServer-impl.h
Labels: component: libraries, type: bug

#6800 Allow for POSTs larger than a few 100 bytes
  libraries/ESP8266HTTPClient/src/ESP8266HTTPClient.cpp
Labels: component: libraries, type: bug
