Repository esp8266/Arduino, pull requests merged in 2020-06, with the labels that each got.

#7299 Graph example
  libraries/ESP8266WebServer/examples/Graph/Graph.ino
  libraries/ESP8266WebServer/examples/Graph/data/index.htm
  libraries/ESP8266WebServer/examples/Graph/readme.md
Labels: component: examples, type: enhancement

#7358 Recognize MSYS(MINGW) as Windows for toolchain get
  tools/get.py
Labels: component: tools, type: enhancement

#7337 umm_malloc manual merge with upstream
  cores/esp8266/Esp-frag.cpp
  cores/esp8266/heap.cpp
  cores/esp8266/umm_malloc/dbglog/dbglog.h
  cores/esp8266/umm_malloc/umm_info.c
  cores/esp8266/umm_malloc/umm_integrity.c
  cores/esp8266/umm_malloc/umm_local.c
  cores/esp8266/umm_malloc/umm_local.h
  cores/esp8266/umm_malloc/umm_malloc.cpp
  cores/esp8266/umm_malloc/umm_malloc.h
  cores/esp8266/umm_malloc/umm_malloc_cfg.h
  cores/esp8266/umm_malloc/umm_poison.c
  libraries/esp8266/examples/HeapMetric/HeapMetric.ino
Labels: component: core, type: enhancement

#7361 CallbackList API
  cores/esp8266/CallBackList.h
Labels: type: enhancement

#7362 libraries/SPI: abs -> std::abs and cast fixes
  libraries/SPI/SPI.cpp
  libraries/SPI/SPI.h
Labels: component: libraries, type: code cleanup
