Repository esp8266/Arduino, pull requests merged in 2020-02, with the labels that each got.

#7068 Use sprintf to output floats in Print/dtostrf
  cores/esp8266/Print.cpp
  cores/esp8266/Print.h
  cores/esp8266/core_esp8266_noniso.cpp
Labels: component: core, type: bug

#7036 Fix/enable UDP packet reassembly
  libraries/ESP8266WiFi/src/include/UdpContext.h
Labels: component: network, good first issue

#7000 Add fileCreation/getCreation create-time accessors
  cores/esp8266/FS.cpp
  cores/esp8266/FS.h
  cores/esp8266/FSImpl.h
  doc/filesystem.rst
  libraries/LittleFS/examples/LittleFS_Timestamp/LittleFS_Timestamp.ino
  libraries/LittleFS/src/LittleFS.cpp
  libraries/LittleFS/src/LittleFS.h
  libraries/SD/examples/listfiles/listfiles.ino
  libraries/SDFS/src/SDFS.h
  package/package_esp8266com_index.template.json
Labels: type: enhancement

#7071 Improve LittleFS support
  libraries/ESP8266WebServer/src/detail/RequestHandlersImpl.h
Labels: component: libraries, type: enhancement
