Repository esp8266/Arduino, pull requests merged in 2020-11, with the labels that each got.

#7691 Update to ESP8266HTTPClient.cpp for no Content-Length
  libraries/ESP8266HTTPClient/src/ESP8266HTTPClient.cpp
Labels: waiting for feedback

#7717 Waveform, fix callback return to CPU cycles instead of µs (wrt PR 7022)
  cores/esp8266/core_esp8266_waveform_phase.cpp
  cores/esp8266/core_esp8266_waveform_phase.h
  cores/esp8266/core_esp8266_waveform_pwm.h
Labels: component: core, type: bug

#7728 Rewrite multipart boundary detection
  libraries/ESP8266WebServer/src/ESP8266WebServer.h
  libraries/ESP8266WebServer/src/Parsing-impl.h
Labels: component: web, type: bug
