Repository esp8266/Arduino, pull requests merged in 2020-04, with the labels that each got.

#7211 Allow waveforms to be specified in clock cycles
  cores/esp8266/Tone.cpp
  cores/esp8266/core_esp8266_waveform.cpp
  cores/esp8266/core_esp8266_waveform.h
  cores/esp8266/core_esp8266_wiring_pwm.cpp
Labels: component: core, type: bug

#7204 Fix espota completion success/fail check
  libraries/ArduinoOTA/ArduinoOTA.cpp
  tools/espota.py
Labels: component: tools, type: bug

#6725 XMC flash support - WIP
  bootloaders/eboot/eboot.c
  bootloaders/eboot/eboot.elf
  bootloaders/eboot/spi_vendors.h
  cores/esp8266/Esp.cpp
  cores/esp8266/Esp.h
  cores/esp8266/core_esp8266_flash_quirks.cpp
  cores/esp8266/core_esp8266_main.cpp
  cores/esp8266/flash_quirks.h
  cores/esp8266/spi_flash_defs.h
  cores/esp8266/spi_vendors.h
Labels: component: core, type: enhancement

#6961 Add CryptoInterface library
  cores/esp8266/Crypto.cpp
  cores/esp8266/Crypto.h
  cores/esp8266/Esp.cpp
  cores/esp8266/Esp.h
  cores/esp8266/TypeConversion.cpp
  cores/esp8266/TypeConversion.h
  libraries/esp8266/examples/HelloCrypto/HelloCrypto.ino
  libraries/esp8266/keywords.txt
  libraries/esp8266/library.properties
Labels: type: enhancement

#7182 Revamp of the FSBrowser and SDWebServer examples
  libraries/ESP8266WebServer/examples/FSBrowser/FSBrowser.ino
  libraries/ESP8266WebServer/examples/FSBrowser/data/edit.htm.gz
  libraries/ESP8266WebServer/examples/FSBrowser/data/edit/index.htm
  libraries/ESP8266WebServer/examples/FSBrowser/data/graphs.js.gz
  libraries/ESP8266WebServer/examples/FSBrowser/data/index.htm
  libraries/ESP8266WebServer/examples/FSBrowser/data/pins.png
  libraries/ESP8266WebServer/examples/FSBrowser/extras/feathericons.png
  libraries/ESP8266WebServer/examples/FSBrowser/extras/index.htm.gz
  libraries/ESP8266WebServer/examples/FSBrowser/extras/index_htm.h
  libraries/ESP8266WebServer/examples/FSBrowser/extras/reduce_index.sh
  libraries/ESP8266WebServer/examples/FSBrowser/readme.md
  libraries/ESP8266WebServer/examples/SDWebServer/SDWebServer.ino
  libraries/ESP8266WebServer/examples/SDWebServer/SdRoot/edit/index.htm
  libraries/ESP8266WebServer/examples/SDWebServer/SdRoot/index.htm
  libraries/ESP8266WebServer/examples/SDWebServer/SdRoot/pins.png
Labels: component: examples, component: libraries, type: enhancement

#7254 Make getContentType available for 3rd party usage
  libraries/ESP8266WebServer/examples/FSBrowser/FSBrowser.ino
  libraries/ESP8266WebServer/src/detail/RequestHandlersImpl.h
  libraries/ESP8266WebServer/src/detail/mimetable.cpp
  libraries/ESP8266WebServer/src/detail/mimetable.h
Labels: component: libraries, type: code cleanup
